<!DOCTYPE html>
<head></head>
<body>

<!-- THIS IS FOR THE BASIC VERSION OF THE PRODUCT -->

<p>This is where you upload</p>
<form action="/processing_file_result.html">
  <input type="file" id="myFile" name="filename">
  <input type="submit">
</form>

<!-- This version just leaves the file there, doesn't link to another page or PHP file -->
<!--
<p>
<label for="profile_pic">Profile Pic: </label>
<input multiple id="profile_pic" name="profile_pic" type="file">
</p>
-->

</body>


</html>