<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>cyftrUglyMVP</title>
</head>

<body>
	<h1>This is an Ugly MVP</h1>
	<h4>Design inspiration taken from Yale Patt's EE 306 website</h4>
	<br>
	
	<form>
		<label for="fname">First name:</label><br>
  		<input type="text" id="fname" name="fname"><br>
  		<label for="lname">Last name:</label><br>
  		<input type="text" id="lname" name="lname">
		<br><br>
		<label for="addrOne">Address Line 1:</label><br>
  		<input type="text" id="addrOne" name="addrOne"><br>
  		<label for="addrTwo">Address Line 2 (optional):</label><br>
  		<input type="text" id="addrTwo" name="addrTwo"><br>
		<label for="state">State:</label><br>
  		<input type="text" id="state" name="state"><br>
  		<label for="zip">ZIP:</label><br>
  		<input type="text" id="zip" name="zip"><br>
		<label for="phone">Phone:</label><br>
  		<input type="text" id="phone" name="phone">
		<br><br>
		
		<input type="submit" value="Update Address" formaction="/update">
		<input type="submit" value="Verify Address" formaction="/verify">
		
	</form>
	
</body>
	
	<script>
		
		
		
	</script>
	
</html>
